﻿@model IEnumerable<web_assignment_2020.Models.Aircraft>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AircraftID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumEconomySeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumBusinessSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DLM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AircraftID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumEconomySeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumBusinessSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DLM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Aircraft" asp-route-id="@item.AircraftID">Update Aircraft Status</a>
                |
                <a asp-action="Delete" asp-controller="Aircraft" asp-route-id="@item.AircraftID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
