﻿@model web_assignment_2020.Models.FlightSchedule

@{
    ViewData["Title"] = "AssignAircraft";
}

<h4 class="PageTitle">Assign Aircraft to Flight Schedule: <u>@Html.Display("ScheduleID")</u></h4>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignAircraft">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <label asp-for="AircraftID" class="control-label"> Aircraft IDs that are <u><b>Operational:</b></u></label>
                <select asp-for="AircraftID" 
                        asp-items="@( new SelectList(
                        @ViewData["aircraftIDs"] as List <int>))" class="form-control"></select>
                <span asp-validation-for="AircraftID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleID" class="control-label"> Selected Schedule ID:</label>
                <input asp-for="ScheduleID" class="form-control"readonly />
                <span asp-validation-for="ScheduleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightNumber" class="control-label"> Flight Number:</label>
                <input asp-for="FlightNumber" class="form-control"readonly />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteID" class="control-label"> Route ID:</label>
                <input asp-for="RouteID" class="form-control"readonly />
                <span asp-validation-for="RouteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDateTime" class="control-label"> Departure Date & Time:</label>
                <input asp-for="DepartureDateTime" class="form-control"readonly />
                <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDateTime" class="control-label"> Arrival Date & Time:</label>
                <input asp-for="ArrivalDateTime" class="form-control"readonly />
                <span asp-validation-for="ArrivalDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyClassPrice" class="control-label"> Economy Class ($):</label>
                <input asp-for="EconomyClassPrice" class="form-control"readonly />
                <span asp-validation-for="EconomyClassPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessClassPrice" class="control-label"> Business Class ($):</label>
                <input asp-for="BusinessClassPrice" class="form-control"readonly />
                <span asp-validation-for="BusinessClassPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"> Flight Schedule Status:</label>
                <input asp-for="Status" class="form-control"readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

