﻿@model web_assignment_2020.Models.Aircraft

@{
    ViewData["Title"] = "Create";
}

<h4 class="PageTitle">Create Aircraft Record</h4>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MakeModel" class="control-label"></label>
                <input asp-for="MakeModel" class="form-control" />
                <span asp-validation-for="MakeModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEconomySeat" class="control-label"></label>
                <input asp-for="NumEconomySeat" class="form-control" />
                <span asp-validation-for="NumEconomySeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBusinessSeat" class="control-label"></label>
                <input asp-for="NumBusinessSeat" class="form-control" />
                <span asp-validation-for="NumBusinessSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DLM" class="control-label"></label>
                <input asp-for="DLM" class="form-control" />
                <span asp-validation-for="DLM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select class="form-control" id="Status" name="Status">
                    <option>Operational</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Aircraft" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">View All Aircraft Records</a>
</div>
<br>

