﻿@model web_assignment_2020.Models.Aircraft

@{
    ViewData["Title"] = "Delete";
}

<h4 class="PageTitle">Delete Aircraft Record</h4>

<h5>Are you sure you want to delete this?</h5>
    
<form asp-action="Delete">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="AircraftID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="AircraftID" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="MakeModel"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="MakeModel" readonly
                       class="form-control-plaintext" />
            </div>
        </div>

        <input type="submit" value="Delete" class="btn btn-danger" />
        <hr />
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>

