﻿@model web_assignment_2020.Models.Aircraft

@{
    ViewData["Title"] = "Details";
}

<h4 class="PageTitle">Aircraft Details</h4>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakeModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakeModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumEconomySeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumEconomySeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumBusinessSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumBusinessSeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DLM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DLM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
