﻿@model web_assignment_2020.Models.Aircraft

@{
    ViewData["Title"] = "Edit";
}

    <h4 class="PageTitle">Update Aircraft Status</h4>

<h4>Aircraft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AircraftID" class="control-label"></label>
                <input asp-for="AircraftID" class="form-control" readonly/>
                <span asp-validation-for="AircraftID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeModel" class="control-label"></label>
                <input asp-for="MakeModel" class="form-control" readonly/>
                <span asp-validation-for="MakeModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEconomySeat" class="control-label"></label>
                <input asp-for="NumEconomySeat" class="form-control" readonly/>
                <span asp-validation-for="NumEconomySeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBusinessSeat" class="control-label"></label>
                <input asp-for="NumBusinessSeat" class="form-control" readonly/>
                <span asp-validation-for="NumBusinessSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DLM" class="control-label"></label>
                <input asp-for="DLM" class="form-control" readonly/>
                <span asp-validation-for="DLM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status"
                        asp-items="@(new SelectList(
 @ViewData["availabilityList"] as List<String>))" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back To List Of Aircraft</a>
</div>

