﻿@model IEnumerable<web_assignment_2020.Models.Aircraft>
@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">View All Registered Aircraft</h4>

<partial name="~/Views/Aircraft/_AircraftView.cshtml" model="@Model" />

