﻿@model web_assignment_2020.Models.RootObject

@{
    ViewData["Title"] = "Weather";
}


<h5>24 Hour General Forecast</h5>
<p>last updated @Model.items[0].update_timestamp</p>
<table class="table">
    <thead>
        <tr>
            <th>Forecast</th>
            <th>Relative Humidity (High)</th>
            <th>Relative Humidity (Low)</th>
            <th>Temperature (High)</th>
            <th>Temperature (Low)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.items[0].general.forecast</td>
            <td>@Model.items[0].general.relative_humidity.high</td>
            <td>@Model.items[0].general.relative_humidity.low</td>
            <td>@Model.items[0].general.temperature.high</td>
            <td>@Model.items[0].general.temperature.low</td>

        </tr>
    </tbody>
</table>
<h5>Winds</h5>
<p>last updated @Model.items[0].update_timestamp</p>
<table class="table">
    <thead>
        <tr>
            <th>Speed (Low)</th>
            <th>Speed (High)</th>
            <th>Direction</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.items[0].general.wind.speed.low</td>
            <td>@Model.items[0].general.wind.speed.high</td>
            <td>@Model.items[0].general.wind.direction</td>

        </tr>
    </tbody>
</table>
<h5>Forecast from @Model.items[0].periods[0].time.start to @Model.items[0].periods[0].time.end</h5>
<table class="table">
    <thead>
        <tr>
            <th>North</th>
            <th>South</th>
            <th>East</th>
            <th>West</th>
            <th>Central</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.items[0].periods[0].regions.north</td>
            <td>@Model.items[0].periods[0].regions.south</td>
            <td>@Model.items[0].periods[0].regions.east</td>
            <td>@Model.items[0].periods[0].regions.west</td>
            <td>@Model.items[0].periods[0].regions.central</td>

        </tr>
    </tbody>
</table>
<h5>Forecast from @Model.items[0].periods[1].time.start to @Model.items[0].periods[1].time.end</h5>
<table class="table">
    <thead>
        <tr>
            <th>North</th>
            <th>South</th>
            <th>East</th>
            <th>West</th>
            <th>Central</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.items[0].periods[1].regions.north</td>
            <td>@Model.items[0].periods[1].regions.south</td>
            <td>@Model.items[0].periods[1].regions.east</td>
            <td>@Model.items[0].periods[1].regions.west</td>
            <td>@Model.items[0].periods[1].regions.central</td>

        </tr>
    </tbody>
</table>
<h5>Forecast from @Model.items[0].periods[2].time.start to @Model.items[0].periods[2].time.end</h5>
<table class="table">
    <thead>
        <tr>
            <th>North</th>
            <th>South</th>
            <th>East</th>
            <th>West</th>
            <th>Central</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.items[0].periods[2].regions.north</td>
            <td>@Model.items[0].periods[2].regions.south</td>
            <td>@Model.items[0].periods[2].regions.east</td>
            <td>@Model.items[0].periods[2].regions.west</td>
            <td>@Model.items[0].periods[2].regions.central</td>

        </tr>
    </tbody>
</table>

